# Default ignored files
/shelf/
/workspace.xml
/modules.xml
/vcs.xml
/misc.xml
/Java_POO.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# out ignored files
/out/